.projects {
  justify-content: center;
  background-color: #a28089;
  display: flex;
  flex-wrap: wrap;
}

.productCard {
  background-color: #fff;
  width: 200px;
  margin: 2rem;
  border-radius: 5px;
  padding: 2rem;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
}
